.tooltip {
  width: 120px;
  min-height: 40px;
  padding: 4px;
  font-size: 12px;
  text-align: center;
  color: #000000;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  background-color: #ffffff;
  opacity: 0;
  transform: translateX(14px);
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0.1s;
  cursor: pointer;
  user-select: none;
  pointer-events: none;
}

.tooltip.shown {
  opacity: 1;
  transform: translateX(0px);
  pointer-events: all;
}
