.login {
  --gap: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--gap);
  margin: 0;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
}

.input-login,
.input-pass {
  position: relative;
  margin-bottom: 20px;
}

.input-login input,
.input-pass input {
  width: 100%;
  min-height: 40px;
  padding: 6px 14px;
  padding-right: 34px;
  border: 1px solid #cccccc;
  border-radius: 6px;
}

.input-login input::placeholder,
.input-pass input::placeholder {
  color: #cccccc;
}

.input-login.error input,
.input-pass.error input {
  border-color: #9b2c00;
}

.input-login.error .error-message,
.input-pass.error .error-message {
  transform: translateY(0);
  opacity: 1;
}

.error-message {
  position: absolute;
  bottom: -16px;
  left: 15px;
  font-size: 10px;
  color: #9b2c00;
  opacity: 0;
  transform: translateY(-6px);
  transition-property: opacity, transform;
  transition-duration: 0.2s;
}

.input-login.error .error-message,
.input-pass.error .error-message {
  transform: translateY(0);
  opacity: 1;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: var(--gap);
}

.login-button {
  width: 100%;
  max-width: 48%;
  margin: 0;
}

.password-button {
  position: absolute;
  top: 50%;
  right: 4px;
  margin: 0;
  width: 34px;
  min-width: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  transform: translateY(-50%);
}

.password-button:hover {
  background-color: transparent;
}

.password-button img {
  display: block;
  width: 32px;
  max-width: 100%;
  height: auto;
}
