.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  min-width: 100px;
  border: 1px solid #8a2b06;
  padding: 0;
  min-height: 40px;
  border-radius: 25px;
  margin-left: 1rem;
}

.button:hover,
.button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.button.button--alt {
  color: #8a2b06;
  background-color: #ffffff;
}

.button.button--alt:hover {
  color: #ffffff;
  background-color: #8a2b06;
}

.button {
  background-color: #8a2b06;
  color: white;
}

.button:disabled {
  color: #cccccc;
  border-color: currentColor;
  background-color: #ffffff;
}

.button:disabled:hover {
  color: #cccccc;
  background-color: #ffffff;
}
